body{
    margin: 0;
    background-color: #E8f9fc;
}
header{
    height: 60px;
}
nav{
    float: right;
}
ul{
    list-style-type: none;
    padding: 0;
}
nav ul li{
    float: left;
    padding-right: 20px;
}
li a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #3C3C3C;
    font-weight: bold;
}
section{
    padding:6%;
    height: 570px;
}
.main-half-section{
    float: left;
    width: 40%;
    margin-right: 100px;
}
h1{
    font-size: 64px;
    line-height: 75px;
    margin: 20px 0px;
    font-weight: normal;
}
.special-color{
    color: #FF8367;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #3E3E3E;
    line-height: 24px;
    margin-bottom: 40px;
}
.link-anchor{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    padding: 15px 35px;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
}
.link-anchor img{
    width: 16px;
}
img{
    width: 100%;
}
h2{
    font-size: 48px;
    line-height: 48px;
    
}
.bebas-neue{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    font-weight: normal;
}
.about-section{
    float: right;
    margin: 0;
}
.latest-section{
    background-color: #f8f9fc;
}
.latest-section h2{
    text-align: center;
}
.projects ul li{
    width: 28%;
    background-color: #e8f9fc;
    padding: 1%;
    border-radius: 10px;
    float: left;
    margin-right: 3%;
}
.projects li p{
    font-weight: normal;
    margin: 0;
}
.skills-section{
    height: 315px;
    padding:6% 20%;
}
.skills-section li{
    background-color: salmon;
    border-radius: 10px;
}
li.html{
    width: 50%;
}
li.css{
    width: 40%;
}
li.javascript{
    width: 20%;
}
.skills-section h3{
    line-height: 30px;
    padding: 5px 0 0 20px;
}
.work-inquiry-section{
    height: 220px;
    background-image: url(shapes/Group_33094_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
.inquiry-section{
    padding: 25px 23%;
}
.inquiry-section h2{
    color: white;
    display: inline-block;
    padding: 25px 0;
}
.inquiry-section a{
    float:right;
    margin: 59px 0;
}
.contact-form{
    padding: 6% 20%;
}
.form-contents{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #3E3E3E;
    line-height: 24px;
    border-radius: 10px;
    background-color: #f8f9fc;
}
.contact-form h2{
    text-align: center;
}
.contact-form input{
    width: 45%;
    padding: 2%;
    border: none;
    margin-bottom: 15px;
}
.contact-form input.email-right{
    float: right;
}
.contact-form textarea{
    width: 96%;
    padding: 2%;
    border: none;
}
.contact-form button{
    width: 100%;
    padding: 2%;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
footer{
    text-align: center;
}
footer p{
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 30px 0;
}
footer ul{
    padding-left: 0;
}
footer ul li{
    display: inline-block;
    margin-right: 15px;
}
footer ul li img{
    height: 50px;
    width: 50px;
}








